@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-set-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.logo {
  color: black;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.site-nav {
  display: flex;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding-left: 0px;
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  transform: scaleX(1);
}

.link-studio:hover:after {
  transform: scaleX(1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
}

.adres {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}

.adres__link {
  fill: currentColor;
  color: #757575;
  position: relative;
  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres__link:hover:after {
  transform: scaleX(1);
}
.adres__link:hover, .adres__link:focus {
  color: #2196f3;
}

.adres__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.accent-logo {
  color: var(--accent-color);
}

.site__item:not(:last-child) {
  margin-right: 50px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding-left: 41px;
  padding-top: 40px;
  padding-right: 39px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 8px 8px;
  padding-left: 6px;
  padding-top: 6px;
  padding-right: 6px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  list-style: none;
  cursor: pointer;
}

.modal-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #2196f3;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  padding: 16px 12px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form-message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-own-checbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-own-checbox-icon {
  display: none;
  fill: #ffffff;
  margin-left: 54px;
}
.modal-form-check:checked + .modal-form-own-checbox-icon {
  background-color: #188ce8;
  border: #188ce8;
}

.modal-form-check:checked + .modal-form-own-checbox .modal-form-own-checbox-icon {
  display: block;
}

.modal-form-check:focus + .modal-form-own-checbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 235, 0.5);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}
.form-text:hover {
  text-decoration-line: none;
}

.modal-form-sumbit {
  display: block;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  margin-bottom: 40px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-form-sumbit:hover, .modal-form-sumbit:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.modal-close:hover,
.modal-close:focus {
  background: #ffffff;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: #2196f3;
}

.hero {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  display: block;
  text-align: center;
  max-width: 696px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.basic-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc "-1 * var(--card-set-gap)";
  margin-top: calc "-1 * var(--card-set-gap)";
}

.basic-list > .basic__item {
  flex-basis: calc(25% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.basic__item {
  max-width: 270px;
  border-radius: 4px;
}

.basic-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.basic-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc "-1 * var(--card-set-gap)";
  margin-top: calc "-1 * var(--card-set-gap)";
}

.our-work > .works {
  flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.work-section-pading {
  padding-bottom: 94px;
}

.work-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}
.works-thumb:hover:before {
  opacity: 1;
}

.works-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f4fa;
  margin-left: calc "-1 * var(--card-set-gap)";
  margin-top: calc "-1 * var(--card-set-gap)";
}

.team > .team-list {
  flex-basis: calc(25% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-list {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.caption {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.caption-title {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.caption-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.caption-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.caption-soc-item:first-child {
  margin-left: 0px;
}

.caption-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caption-soc-link:hover, .caption-soc-link:focus {
  background: #2196f3;
}

.caption-soc-icon {
  position: absolute;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caption-soc-link:hover .caption-soc-icon, .caption-soc-link:focus .caption-soc-icon {
  fill: #ffffff;
}

.client {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.regular-customers-list > .regular-customers-item {
  flex-basis: calc(16.6666666667% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.regular-customers-icon {
  position: absolute;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link {
  display: flex;
  border-radius: 4px;
  height: 92px;
  border: 1px solid #afb1b8;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
  fill: #2196f3;
}

.regular-customers-link:hover,
.regular-customers-link:focus {
  border: 1px solid #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.8;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background: #2196f3;
}

.footer-soc-icon {
  position: absolute;
  fill: #ffffff;
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: auto;
}

.footer-form-title {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  left: 766px;
  top: 2776px;
  padding: 16px;
  margin-right: 12px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
  outline: none;
}

.footer-form-sumbit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border: inherit;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-sumbit:hover, .footer-form-sumbit:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.footer-form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2px;
  left: 160px;
}

.footer-form-flex {
  display: flex;
}

.address .link:hover {
  color: var(--accent-color);
}

.address {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link {
  position: relative;
}

.streat:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  display: block;
  margin-left: 70px;
  margin-top: 15px;
}

.join-title {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* меню кнопок */
.menu-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:not(:last-child) {
  margin-right: 8px;
}

.button-tap {
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  padding: 6px 22px;
  color: var(--title-text-color);
  border-radius: 4px;
  border: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-tap:hover, .button-tap:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-tap.active {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* меню зображень */
.menu-picture {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.menu-picture > .element {
  flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.name-picture {
  padding: 24px 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.text-subject {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

.subject {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.shadow {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: auto;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover, .shadow:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shadow:hover .overlay,
.shadow:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-thumb {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=main.css.map */