.basic-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc "-1 * var(--card-set-gap)";
  margin-top: calc "-1 * var(--card-set-gap)";
}

.basic-list > .basic__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.basic__item {
  max-width: 270px;
  border-radius: 4px;
}

.basic-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.basic-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
