.our-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc "-1 * var(--card-set-gap)";
  margin-top: calc "-1 * var(--card-set-gap)";
}

.our-work > .works {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.work-section-pading {
  padding-bottom: 94px;
}

.work-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.works-thumb {
  position: relative;
  overflow: hidden;

  &:hover:before {
    opacity: 1;
  }
}

.works-text {
  position: absolute;
  width: 100%;

  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
