.adres {
  display: flex;
  margin-left: auto;
  align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}

.adres__link {
  fill: currentColor;
  color: #757575;
  position: relative;

  &:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }

  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
}
